<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="initial_positions_file" default="$(find panda_arm_config)/config/initial_positions.yaml" />
  <!-- Import arm urdf file -->
  <xacro:include filename="$(find robotarm_description)/urdf/panda.urdf" />
  <!-- Import control xacro -->
  <xacro:include filename="panda_gazebo_ros2_control.xacro" />
  <!-- Gazebo configuration -->
  <gazebo>
	<joint name="world_joint" type="fixed">
		<parent>world</parent>
		<child>panda_link0</child>
	</joint>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
		<parameters>$(find panda_arm_config)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>
  <gazebo reference="panda_leftfinger">
    <mu1>40.0</mu1>
    <mu2>40.0</mu2>
    <kp>30000</kp>
    <kd>15</kd>
  </gazebo>
  <gazebo reference="panda_rightfinger">
    <mu1>30.0</mu1>
    <mu2>30.0</mu2>
    <kp>30000</kp>
    <kd>15</kd>
  </gazebo>
  <xacro:include filename="panda.gazebo.ros2_control.xacro"/>

  <xacro:panda_ros2_control name="GazeboSimSystem"
    initial_positions_file="$(arg initial_positions_file)"/>
  
</robot>